@import "../../shared//variable.scss";

.category_block {

  padding: 18px;
  padding-top: 15px;
  border-radius: 20px;
  // background-color: #f1f1f1;
  width: 100%;
  height: auto;

  .title {
    text-align: center;
    border-radius: 5px;
    margin-bottom: 22px;
    padding: 10px;
    background: #31b465;

    @include styles_text(20x, 700 , #000);
    color: #fff;
  }
  li {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 22px;
    list-style: none;
    text-align: center;
    @include styles_text(18px, 600 , #000 );
  }
  .selected{
    background: #31b465;
    @include styles_text(20x, 700 , #ffffff);
    transition: 1.5s;
  }
}
