@mixin styles_text($font_size, $font_weigth , $color) {
    color: $color;

    font-family: Inter;
    font-size: $font_size;
    font-style: normal;
    font-weight: $font_weigth;
    line-height: normal;
}