@import "../../shared//variable.scss";


  
  .content {
    margin-top: 38px;
    padding: 40px 30px;
    display: grid;
    grid-template-columns: 19% 60% 19%;
    grid-template-areas: "category contentArea instructions";
    gap: 15px;
  }