@import ".../../../../../shared/variable.scss";

.email {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
    p {
        @include styles_text(20px, 100, #000);
    }
    .emailInput {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: left;
        // border: 1px solid rgb(0, 0, 0);
        align-items: center;
        gap: 20px;


        input {
            width: 80%;
            height: 4vh;
            @include styles_text(20px, 100, #000);
        }
    }


}