@import ".../../../../../shared/variable.scss";

.email {
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    // border: 1px solid red;
    align-items: center;

    .emailInput {

        p {
            @include styles_text(20px, 100, #000);
        }

        input {
            width: 100%;
            height: 4vh;
            @include styles_text(20px, 100, #000);
        }
    }

    .report_button {

        button {
            margin-top: 23px;
            padding: 10px 20px;
            background-color: #198754;
            color: white;
            @include styles_text(18px, 100, white);
            cursor: pointer;
            border: none;
            border-radius: 15px;
        }

        :hover {
            background-color: #166e45;
            border: none;
            border-radius: 15px;
            @include styles_text(18px, 500, rgb(255, 255, 255));
        }
    }
}